<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h2>Welcome, {{ session.name }}!</h2>

  <h2>Your Events:</h2>

  {% for event in events %}
  <div>
      <p>
          {{ event.host }}'s event at {{ event.location }} on {{ event.date }}: 
          {% if event.status == True %}
              going
          {% elif event.status == False %}
              not going
          {% else %}
              tbd
          {% endif %}
      </p>
  </div>
  {% endfor %}

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>