<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h2>Welcome, {{ session.name }}!</h2>

  <h2>Upcoming Events:</h2>

  {% for event in upcoming_events %}
  <div>
      <p>
          {{ event.event_name }}<br>
          Host: {{ event.host }}<br>
          Details: {{ event.location }} on {{ event.date }}<br>
          Status: 
          {% if event.status == True %}
              Attending
          {% elif event.status == False %}
              Not Attending
          {% else %}
              TBD
          {% endif %}
      </p>
  </div>
  {% endfor %}

  <h2>Past Events:</h2>

  {% for event in past_events %}
  <div>
      <p>
          {{ event.event_name }}<br>
          Host: {{ event.host }}<br>
          Details: {{ event.location }} on {{ event.date }}<br>
          Status: 
          {% if event.status == True %}
              Attended
          {% elif event.status == False %}
              Did Not Attend
          {% else %}
              No Response
          {% endif %}
      </p>
  </div>
  {% endfor %}

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>