<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>

  <header style="
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      padding: 10px 0;
      margin-bottom: 20px;
  ">
      <h2 style="margin: 0;">Welcome, {{ session.get('name') }}!</h2>
      
      <a href="/logout" 
        style="padding: 5px 5px; 
                text-decoration: none; 
                border-radius: 5px; 
                white-space: nowrap;">
          Logout
      </a>
  </header>

  <a href="/create_event" style="padding: 5px 5px; border-radius: 5px; text-decoration: none; font-weight: bold;">
    + Create New Event
  </a>

  <h2>Upcoming Events:</h2>

  {% for event in upcoming_events %}
  <div>
    <p>
      <a href="/event/{{ event.event_id }}">{{ event.event_name }}</a><br>
      {{ event.date }}<br>
      {% if event.is_host == True %}
        Hosting
      {% elif event.status == True %}
        Attending
      {% elif event.status == False %}
        Not Attending
      {% else %}
        TBD
      {% endif %}
    </p>
  </div>
  {% endfor %}

  <h2>Past Events:</h2>

  {% for event in past_events %}
  <div>
    <p>
      <a href="/event/{{ event.event_id }}">{{ event.event_name }}</a><br>
      {{ event.date }}<br>
      {% if event.status == True %}
        Attended
      {% elif event.status == False %}
        Did Not Attend
      {% else %}
        No Response
      {% endif %}
    </p>
  </div>
  {% endfor %}

  <p><a href="/recipes">Browse Recipes</a></p>

</body>

</html>